{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-treemap.min.js"></script>
<style>
  #container {
    width: 85%;
    height: 80%;
    margin: 0 auto;
    padding: 0;
  }
</style>
<!-- <h1 style='text-align:center; color: black;'>국내증시 코스피 MAP </h1> -->
  <body>
    <script>
      anychart.onDocumentReady(function () {
      
      // get data
      var data = getData(); 

      // create a data tree
      treeData = anychart.data.tree(data, "as-tree");

      // create a chart and set the data
      chart = anychart.treeMap(treeData);

      // set the maximum depth of levels shown
      chart.maxDepth(2);

      // set the depth of hints
      chart.hintDepth(1);

      // set the opacity of hints
      chart.hintOpacity(0.7);  

      /* listen to the chartDraw event
      and add the drilldown path to the chart title */
      chart.listen("chartDraw",function() {

        chart.labels().useHtml(true);
        // configure labels
        // chart.labels().adjustFontSize(true);

        chart.labels().format(
          "<span style='font-size: 120%; font-weight:bold;'>{%name}</span><br>"
          +"<span style='font-size: 100%; font-weight:bold;'>{%value}%</span>"
        );

        // configure tooltips
        chart.tooltip().format(
          "시가총액: {%size}원\n등락률: {%value}%"
        );

        chart.hovered().headers().format("{%name}");

        // configure the font of headers
        chart.normal().headers().fontColor("#ffbe33"); // theme font color
        chart.normal().headers().fontSize("14");
        chart.normal().headers().fontWeight('bold');
        chart.hovered().headers().fontColor("#000099");

        // configure the text of headers in the hovered state
      });

      function headersEnabled(enabled) {
        chart.headers(enabled);
      }



      var customColorScale = anychart.scales.ordinalColor();
      customColorScale.ranges([
        {less: -3},
        // {from: -4, to: -3},
        {from: -3, to: -2},
        {from: -2, to: -1},
        {from: -1, to: 0},
        {from: 0, to: 1},
        {from: 1, to: 2},
        // {from: 2, to: 3},
        {greater: 2}
      ]);
      customColorScale.colors(['#376eba','#3d5883','#434683', '#434653','#74404b', '#b43a41', '#f53538']);

      // set the color scale as the color scale of the chart
      chart.colorScale(customColorScale);

      // add a color range
      chart.colorRange().enabled(true);
      chart.colorRange().colorLineSize(20);
      chart.colorRange().length("35%");

      // chart.hovered().fill("gray", 0.1);
      chart.selected().fill("gray", 0.6);
      // chart.selected().hatchFill("forward-diagonal", "gray", 2, 20);
      chart.normal().stroke("black",1); // chart line color
      chart.hovered().stroke("gray",3);
      chart.selected().stroke("gray", 2);

      // set the container id
      chart.container("container");

      // initiate drawing the chart
      chart.draw();
      });

      //////////////////
      var theme = {
        treeMap: {
            normal: {
                headers: {
                    background: {
                        enabled: !0,
                        fill: "#292d33", // theme moral color
                        stroke: "2 black", // theme line color
                        corners: 0
                                }
                        }
                    }
                }
              };
      anychart.theme(theme);
      //////////////////
      // get data
      function getData() {
      // create data
        var KOSPI = 'KOSPI';
        var 서비스업 = '서비스업';
        var AJ네트웍스 = 'AJ네트웍스';
        var CJCGV = 'CJCGV';
        var DB = 'DB';
        var ESR켄달스퀘어리츠 = 'ESR켄달스퀘어리츠';
        var GKL = 'GKL';
        var IHQ = 'IHQ';
        var KTcs = 'KTcs';
        var KTis = 'KTis';
        var LG헬로비전 = 'LG헬로비전';
        var NAVER = 'NAVER';
        var NHN = 'NHN';
        var NH올원리츠 = 'NH올원리츠';
        var NH프라임리츠 = 'NH프라임리츠';
        var NICE = 'NICE';
        var SBS = 'SBS';
        var SK디앤디 = 'SK디앤디';
        var SK렌터카 = 'SK렌터카';
        var SK리츠 = 'SK리츠';
        var SK바이오팜 = 'SK바이오팜';
        var YGPLUS = 'YGPLUS';
        var 강원랜드 = '강원랜드';
        var 갤럭시아에스엠 = '갤럭시아에스엠';
        var 넷마블 = '넷마블';
        var 녹십자홀딩스 = '녹십자홀딩스';
        var 녹십자홀딩스2우 = '녹십자홀딩스2우';
        var 다우기술 = '다우기술';
        var 대교 = '대교';
        var 대교우B = '대교우B';
        var 대성홀딩스 = '대성홀딩스';
        var 더블유게임즈 = '더블유게임즈';
        var 더존비즈온 = '더존비즈온';
        var 도화엔지니어링 = '도화엔지니어링';
        var 동성케미컬 = '동성케미컬';
        var 디앤디플랫폼리츠 = '디앤디플랫폼리츠';
        var 롯데관광개발 = '롯데관광개발';
        var 롯데렌탈 = '롯데렌탈';
        var 롯데리츠 = '롯데리츠';
        var 롯데정보통신 = '롯데정보통신';
        var 마스턴프리미어리츠 = '마스턴프리미어리츠';
        var 모두투어리츠 = '모두투어리츠';
        var 미래아이앤지 = '미래아이앤지';
        var 미래에셋글로벌리츠 = '미래에셋글로벌리츠';
        var 미래에셋맵스리츠 = '미래에셋맵스리츠';
        var 바다로19호 = '바다로19호';
        var 비상교육 = '비상교육';
        var 비케이탑스 = '비케이탑스';
        var 삼성에스디에스 = '삼성에스디에스';
        var 삼성엔지니어링 = '삼성엔지니어링';
        var 삼성출판사 = '삼성출판사';
        var 성창기업지주 = '성창기업지주';
        var 스카이라이프 = '스카이라이프';
        var 신세계IC = '신세계IC';
        var 신세계푸드 = '신세계푸드';
        var 신한서부티엔디리츠 = '신한서부티엔디리츠';
        var 신한알파리츠 = '신한알파리츠';
        var 쎌마테라퓨틱스 = '쎌마테라퓨틱스';
        var 쏘카 = '쏘카';
        var 아세아 = '아세아';
        var 아센디오 = '아센디오';
        var 아시아나IDT = '아시아나IDT';
        var 에스원 = '에스원';
        var 에이리츠 = '에이리츠';
        var 엔씨소프트 = '엔씨소프트';
        var 예스코홀딩스 = '예스코홀딩스';
        var 용평리조트 = '용평리조트';
        var 웅진 = '웅진';
        var 웅진씽크빅 = '웅진씽크빅';
        var 유수홀딩스 = '유수홀딩스';
        var 유엔젤 = '유엔젤';
        var 이노션 = '이노션';
        var 이리츠코크렙 = '이리츠코크렙';
        var 이스타코 = '이스타코';
        var 이지스레지던스리츠 = '이지스레지던스리츠';
        var 이지스밸류리츠 = '이지스밸류리츠';
        var 자이에스앤디 = '자이에스앤디';
        var 제이알글로벌리츠 = '제이알글로벌리츠';
        var 제일기획 = '제일기획';
        var 제일파마홀딩스 = '제일파마홀딩스';
        var 지투알 = '지투알';
        var 카카오 = '카카오';
        var 케이탑리츠 = '케이탑리츠';
        var 코람코더원리츠 = '코람코더원리츠';
        var 코람코에너지리츠 = '코람코에너지리츠';
        var 코웨이 = '코웨이';
        var 콘텐트리중앙 = '콘텐트리중앙';
        var 콤텍시스템 = '콤텍시스템';
        var 쿠쿠홈시스 = '쿠쿠홈시스';
        var 크래프톤 = '크래프톤';
        var 키다리스튜디오 = '키다리스튜디오';
        var 텔코웨어 = '텔코웨어';
        var 하나투어 = '하나투어';
        var 하이브 = '하이브';
        var 한국종합기술 = '한국종합기술';
        var 한미글로벌 = '한미글로벌';
        var 한전기술 = '한전기술';
        var 한전산업 = '한전산업';
        var 현대오토에버 = '현대오토에버';
        var 효성ITX = '효성ITX';
        var 기타금융업 = '기타금융업';
        var AK홀딩스 = 'AK홀딩스';
        var BGF = 'BGF';
        var BNK금융지주 = 'BNK금융지주';
        var CJ = 'CJ';
        var CJ4우전환 = 'CJ4우전환';
        var CJ우 = 'CJ우';
        var CS홀딩스 = 'CS홀딩스';
        var DGB금융지주 = 'DGB금융지주';
        var DL = 'DL';
        var DL우 = 'DL우';
        var FF홀딩스 = 'FF홀딩스';
        var GS = 'GS';
        var GS우 = 'GS우';
        var HDC = 'HDC';
        var HL홀딩스 = 'HL홀딩스';
        var JB금융지주 = 'JB금융지주';
        var JW홀딩스 = 'JW홀딩스';
        var KB금융 = 'KB금융';
        var KC그린홀딩스 = 'KC그린홀딩스';
        var LG = 'LG';
        var LG우 = 'LG우';
        var LS = 'LS';
        var LS전선아시아 = 'LS전선아시아';
        var LX홀딩스 = 'LX홀딩스';
        var LX홀딩스1우 = 'LX홀딩스1우';
        var SK = 'SK';
        var SK디스커버리 = 'SK디스커버리';
        var SK디스커버리우 = 'SK디스커버리우';
        var SK스퀘어 = 'SK스퀘어';
        var SK우 = 'SK우';
        var SNT홀딩스 = 'SNT홀딩스';
        var 경동인베스트 = '경동인베스트';
        var 기업은행 = '기업은행';
        var 노루홀딩스 = '노루홀딩스';
        var 노루홀딩스우 = '노루홀딩스우';
        var 농심홀딩스 = '농심홀딩스';
        var 대덕 = '대덕';
        var 대덕1우 = '대덕1우';
        var 대상홀딩스 = '대상홀딩스';
        var 대상홀딩스우 = '대상홀딩스우';
        var 동아쏘시오홀딩스 = '동아쏘시오홀딩스';
        var 두산 = '두산';
        var 두산2우B = '두산2우B';
        var 두산우 = '두산우';
        var 디와이 = '디와이';
        var 롯데지주 = '롯데지주';
        var 롯데지주우 = '롯데지주우';
        var 맥쿼리인프라 = '맥쿼리인프라';
        var 메리츠금융지주 = '메리츠금융지주';
        var 미원홀딩스 = '미원홀딩스';
        var 삼성카드 = '삼성카드';
        var 삼양홀딩스 = '삼양홀딩스';
        var 삼양홀딩스우 = '삼양홀딩스우';
        var 샘표 = '샘표';
        var 서연 = '서연';
        var 세아제강지주 = '세아제강지주';
        var 스틱인베스트먼트 = '스틱인베스트먼트';
        var 신한지주 = '신한지주';
        var 에이플러스에셋 = '에이플러스에셋';
        var 엔에이치스팩19호 = '엔에이치스팩19호';
        var 영원무역홀딩스 = '영원무역홀딩스';
        var 오리온홀딩스 = '오리온홀딩스';
        var 우리금융지주 = '우리금융지주';
        var 우리종금 = '우리종금';
        var 일진홀딩스 = '일진홀딩스';
        var 제주은행 = '제주은행';
        var 카카오뱅크 = '카카오뱅크';
        var 카카오페이 = '카카오페이';
        var 코스맥스비티아이 = '코스맥스비티아이';
        var 코오롱 = '코오롱';
        var 코오롱우 = '코오롱우';
        var 쿠쿠홀딩스 = '쿠쿠홀딩스';
        var 크라운해태홀딩스 = '크라운해태홀딩스';
        var 크라운해태홀딩스우 = '크라운해태홀딩스우';
        var 티와이홀딩스 = '티와이홀딩스';
        var 티와이홀딩스우 = '티와이홀딩스우';
        var 풍산홀딩스 = '풍산홀딩스';
        var 하나금융지주 = '하나금융지주';
        var 하이트진로홀딩스 = '하이트진로홀딩스';
        var 하이트진로홀딩스우 = '하이트진로홀딩스우';
        var 한국금융지주 = '한국금융지주';
        var 한국금융지주우 = '한국금융지주우';
        var 한국앤컴퍼니 = '한국앤컴퍼니';
        var 한국자산신탁 = '한국자산신탁';
        var 한국전자홀딩스 = '한국전자홀딩스';
        var 한국콜마홀딩스 = '한국콜마홀딩스';
        var 한국토지신탁 = '한국토지신탁';
        var 한미사이언스 = '한미사이언스';
        var 한솔홀딩스 = '한솔홀딩스';
        var 효성 = '효성';
        var 유통업 = '유통업';
        var BGF리테일 = 'BGF리테일';
        var DI동일 = 'DI동일';
        var E1 = 'E1';
        var GS글로벌 = 'GS글로벌';
        var GS리테일 = 'GS리테일';
        var LS네트웍스 = 'LS네트웍스';
        var LX인터내셔널 = 'LX인터내셔널';
        var SG세계물산 = 'SG세계물산';
        var SJM홀딩스 = 'SJM홀딩스';
        var SK가스 = 'SK가스';
        var SK네트웍스 = 'SK네트웍스';
        var SK네트웍스우 = 'SK네트웍스우';
        var STX = 'STX';
        var 경방 = '경방';
        var 광주신세계 = '광주신세계';
        var 교촌에프앤비 = '교촌에프앤비';
        var 국동 = '국동';
        var 남성 = '남성';
        var 대구백화점 = '대구백화점';
        var 대성산업 = '대성산업';
        var 동서 = '동서';
        var 롯데쇼핑 = '롯데쇼핑';
        var 롯데하이마트 = '롯데하이마트';
        var 모나미 = '모나미';
        var 삼성물산 = '삼성물산';
        var 삼성물산우B = '삼성물산우B';
        var 삼영무역 = '삼영무역';
        var 세기상사 = '세기상사';
        var 세우글로벌 = '세우글로벌';
        var 세이브존IC = '세이브존IC';
        var 신성통상 = '신성통상';
        var 신세계 = '신세계';
        var 신세계인터내셔날 = '신세계인터내셔날';
        var 신송홀딩스 = '신송홀딩스';
        var 신일전자 = '신일전자';
        var 신풍제지 = '신풍제지';
        var 신흥 = '신흥';
        var 아이마켓코리아 = '아이마켓코리아';
        var 영원무역 = '영원무역';
        var 웰바이오텍 = '웰바이오텍';
        var 윌비스 = '윌비스';
        var 유니퀘스트 = '유니퀘스트';
        var 이마트 = '이마트';
        var 이아이디 = '이아이디';
        var 이화산업 = '이화산업';
        var 인바이오젠 = '인바이오젠';
        var 일신석재 = '일신석재';
        var 진도 = '진도';
        var 초록뱀헬스케어 = '초록뱀헬스케어';
        var 케이카 = '케이카';
        var 포스코인터내셔널 = '포스코인터내셔널';
        var 플레이그램 = '플레이그램';
        var 한국화장품 = '한국화장품';
        var 한샘 = '한샘';
        var 한세엠케이 = '한세엠케이';
        var 한솔PNS = '한솔PNS';
        var 한창 = '한창';
        var 현대그린푸드 = '현대그린푸드';
        var 현대백화점 = '현대백화점';
        var 현대코퍼레이션 = '현대코퍼레이션';
        var 현대코퍼레이션홀딩스 = '현대코퍼레이션홀딩스';
        var 현대홈쇼핑 = '현대홈쇼핑';
        var 혜인 = '혜인';
        var 호텔신라 = '호텔신라';
        var 호텔신라우 = '호텔신라우';
        var 휠라홀딩스 = '휠라홀딩스';
        var 섬유의복 = '섬유의복';
        var BYC = 'BYC';
        var BYC우 = 'BYC우';
        var FF = 'FF';
        var LF = 'LF';
        var TBH글로벌 = 'TBH글로벌';
        var 대한방직 = '대한방직';
        var 대현 = '대현';
        var 메타랩스 = '메타랩스';
        var 방림 = '방림';
        var 비비안 = '비비안';
        var 성안 = '성안';
        var 신영와코루 = '신영와코루';
        var 신원 = '신원';
        var 쌍방울 = '쌍방울';
        var 원림 = '원림';
        var 인디에프 = '인디에프';
        var 일신방직 = '일신방직';
        var 일정실업 = '일정실업';
        var 전방 = '전방';
        var 태평양물산 = '태평양물산';
        var 한섬 = '한섬';
        var 한세실업 = '한세실업';
        var 한세예스24홀딩스 = '한세예스24홀딩스';
        var 형지엘리트 = '형지엘리트';
        var 호전실업 = '호전실업';
        var 운수창고업 = '운수창고업';
        var CJ대한통운 = 'CJ대한통운';
        var HMM = 'HMM';
        var KCTC = 'KCTC';
        var KSS해운 = 'KSS해운';
        var 국보 = '국보';
        var 대한항공 = '대한항공';
        var 대한항공우 = '대한항공우';
        var 대한해운 = '대한해운';
        var 동방 = '동방';
        var 동양고속 = '동양고속';
        var 세방 = '세방';
        var 세방우 = '세방우';
        var 아시아나항공 = '아시아나항공';
        var 에어부산 = '에어부산';
        var 인터지스 = '인터지스';
        var 제주항공 = '제주항공';
        var 진에어 = '진에어';
        var 천일고속 = '천일고속';
        var 티웨이항공 = '티웨이항공';
        var 팬오션 = '팬오션';
        var 한국공항 = '한국공항';
        var 한솔로지스틱스 = '한솔로지스틱스';
        var 한익스프레스 = '한익스프레스';
        var 한진 = '한진';
        var 한진칼 = '한진칼';
        var 한진칼우 = '한진칼우';
        var 현대글로비스 = '현대글로비스';
        var 흥아해운 = '흥아해운';
        var 음식료품 = '음식료품';
        var CJ씨푸드 = 'CJ씨푸드';
        var CJ씨푸드1우 = 'CJ씨푸드1우';
        var CJ제일제당 = 'CJ제일제당';
        var CJ제일제당우 = 'CJ제일제당우';
        var MH에탄올 = 'MH에탄올';
        var SPC삼립 = 'SPC삼립';
        var 고려산업 = '고려산업';
        var 남양유업 = '남양유업';
        var 남양유업우 = '남양유업우';
        var 농심 = '농심';
        var 대상 = '대상';
        var 대상우 = '대상우';
        var 대한제당 = '대한제당';
        var 대한제당우 = '대한제당우';
        var 대한제분 = '대한제분';
        var 동원FB = '동원FB';
        var 롯데제과 = '롯데제과';
        var 롯데칠성 = '롯데칠성';
        var 롯데칠성우 = '롯데칠성우';
        var 마니커 = '마니커';
        var 무학 = '무학';
        var 보해양조 = '보해양조';
        var 빙그레 = '빙그레';
        var 사조대림 = '사조대림';
        var 사조동아원 = '사조동아원';
        var 사조씨푸드 = '사조씨푸드';
        var 사조오양 = '사조오양';
        var 삼양사 = '삼양사';
        var 삼양사우 = '삼양사우';
        var 삼양식품 = '삼양식품';
        var 샘표식품 = '샘표식품';
        var 서울식품 = '서울식품';
        var 서울식품우 = '서울식품우';
        var 선진 = '선진';
        var 오뚜기 = '오뚜기';
        var 오리온 = '오리온';
        var 우성 = '우성';
        var 조흥 = '조흥';
        var 크라운제과 = '크라운제과';
        var 크라운제과우 = '크라운제과우';
        var 팜스코 = '팜스코';
        var 풀무원 = '풀무원';
        var 하이트진로 = '하이트진로';
        var 하이트진로2우B = '하이트진로2우B';
        var 한성기업 = '한성기업';
        var 해태제과식품 = '해태제과식품';
        var 증권 = '증권';
        var DB금융투자 = 'DB금융투자';
        var NH투자증권 = 'NH투자증권';
        var NH투자증권우 = 'NH투자증권우';
        var SK증권 = 'SK증권';
        var SK증권우 = 'SK증권우';
        var 교보증권 = '교보증권';
        var 다올투자증권 = '다올투자증권';
        var 대신증권 = '대신증권';
        var 대신증권2우B = '대신증권2우B';
        var 대신증권우 = '대신증권우';
        var 메리츠증권 = '메리츠증권';
        var 미래에셋증권 = '미래에셋증권';
        var 미래에셋증권2우B = '미래에셋증권2우B';
        var 미래에셋증권우 = '미래에셋증권우';
        var 부국증권 = '부국증권';
        var 부국증권우 = '부국증권우';
        var 삼성증권 = '삼성증권';
        var 상상인증권 = '상상인증권';
        var 신영증권 = '신영증권';
        var 신영증권우 = '신영증권우';
        var 유안타증권 = '유안타증권';
        var 유안타증권우 = '유안타증권우';
        var 유진투자증권 = '유진투자증권';
        var 유화증권 = '유화증권';
        var 유화증권우 = '유화증권우';
        var 키움증권 = '키움증권';
        var 한양증권 = '한양증권';
        var 한양증권우 = '한양증권우';
        var 한화투자증권 = '한화투자증권';
        var 한화투자증권우 = '한화투자증권우';
        var 현대차증권 = '현대차증권';
        var 보험업 = '보험업';
        var DB손해보험 = 'DB손해보험';
        var 동양생명 = '동양생명';
        var 롯데손해보험 = '롯데손해보험';
        var 메리츠화재 = '메리츠화재';
        var 미래에셋생명 = '미래에셋생명';
        var 삼성생명 = '삼성생명';
        var 삼성화재 = '삼성화재';
        var 삼성화재우 = '삼성화재우';
        var 코리안리 = '코리안리';
        var 한화생명 = '한화생명';
        var 한화손해보험 = '한화손해보험';
        var 현대해상 = '현대해상';
        var 흥국화재 = '흥국화재';
        var 흥국화재2우B = '흥국화재2우B';
        var 흥국화재우 = '흥국화재우';
        var 전기전자 = '전기전자';
        var DB하이텍 = 'DB하이텍';
        var DB하이텍1우 = 'DB하이텍1우';
        var DN오토모티브 = 'DN오토모티브';
        var KEC = 'KEC';
        var KH필룩스 = 'KH필룩스';
        var LG디스플레이 = 'LG디스플레이';
        var LG에너지솔루션 = 'LG에너지솔루션';
        var LG이노텍 = 'LG이노텍';
        var LG전자 = 'LG전자';
        var LG전자우 = 'LG전자우';
        var LSELECTRIC = 'LSELECTRIC';
        var SK아이이테크놀로지 = 'SK아이이테크놀로지';
        var SK하이닉스 = 'SK하이닉스';
        var 가온전선 = '가온전선';
        var 경동나비엔 = '경동나비엔';
        var 경인전자 = '경인전자';
        var 광명전기 = '광명전기';
        var 광전자 = '광전자';
        var 금호전기 = '금호전기';
        var 대덕전자 = '대덕전자';
        var 대덕전자1우 = '대덕전자1우';
        var 대동전자 = '대동전자';
        var 대원전선 = '대원전선';
        var 대원전선우 = '대원전선우';
        var 대유플러스 = '대유플러스';
        var 대한전선 = '대한전선';
        var 두산퓨얼셀 = '두산퓨얼셀';
        var 두산퓨얼셀1우 = '두산퓨얼셀1우';
        var 두산퓨얼셀2우B = '두산퓨얼셀2우B';
        var 드림텍 = '드림텍';
        var 삼성SDI = '삼성SDI';
        var 삼성SDI우 = '삼성SDI우';
        var 삼성전기 = '삼성전기';
        var 삼성전기우 = '삼성전기우';
        var 삼성전자 = '삼성전자';
        var 삼성전자우 = '삼성전자우';
        var 삼영전자 = '삼영전자';
        var 삼화전기 = '삼화전기';
        var 삼화전자 = '삼화전자';
        var 삼화콘덴서 = '삼화콘덴서';
        var 선도전기 = '선도전기';
        var 성문전자 = '성문전자';
        var 성문전자우 = '성문전자우';
        var 세방전지 = '세방전지';
        var 솔루스첨단소재 = '솔루스첨단소재';
        var 솔루스첨단소재1우 = '솔루스첨단소재1우';
        var 솔루스첨단소재2우B = '솔루스첨단소재2우B';
        var 솔루엠 = '솔루엠';
        var 신도리코 = '신도리코';
        var 신성이엔지 = '신성이엔지';
        var 써니전자 = '써니전자';
        var 아남전자 = '아남전자';
        var 에이엔피 = '에이엔피';
        var 엠씨넥스 = '엠씨넥스';
        var 와이투솔루션 = '와이투솔루션';
        var 이수페타시스 = '이수페타시스';
        var 일진디스플 = '일진디스플';
        var 일진머티리얼즈 = '일진머티리얼즈';
        var 일진전기 = '일진전기';
        var 자화전자 = '자화전자';
        var 주연테크 = '주연테크';
        var 컨버즈 = '컨버즈';
        var 코리아써우 = '코리아써우';
        var 코리아써키트 = '코리아써키트';
        var 코리아써키트2우B = '코리아써키트2우B';
        var 티에이치엔 = '티에이치엔';
        var 하이트론 = '하이트론';
        var 한국단자 = '한국단자';
        var 한솔테크닉스 = '한솔테크닉스';
        var 한화시스템 = '한화시스템';
        var 해성디에스 = '해성디에스';
        var 현대에너지솔루션 = '현대에너지솔루션';
        var 현대일렉트릭 = '현대일렉트릭';
        var 효성중공업 = '효성중공업';
        var 휴니드 = '휴니드';
        var 건설업 = '건설업';
        var DL건설 = 'DL건설';
        var DL이앤씨 = 'DL이앤씨';
        var DL이앤씨2우전환 = 'DL이앤씨2우전환';
        var DL이앤씨우 = 'DL이앤씨우';
        var GS건설 = 'GS건설';
        var HDC랩스 = 'HDC랩스';
        var HDC현대산업개발 = 'HDC현대산업개발';
        var HJ중공업 = 'HJ중공업';
        var HLDI = 'HLDI';
        var 계룡건설 = '계룡건설';
        var 금호건설 = '금호건설';
        var 금호건설우 = '금호건설우';
        var 까뮤이앤씨 = '까뮤이앤씨';
        var 남광토건 = '남광토건';
        var 대우건설 = '대우건설';
        var 동부건설 = '동부건설';
        var 동부건설우 = '동부건설우';
        var 동아지질 = '동아지질';
        var 범양건영 = '범양건영';
        var 삼부토건 = '삼부토건';
        var 삼호개발 = '삼호개발';
        var 수산인더스트리 = '수산인더스트리';
        var 신세계건설 = '신세계건설';
        var 에쓰씨엔지니어링 = '에쓰씨엔지니어링';
        var 우진아이엔에스 = '우진아이엔에스';
        var 일성건설 = '일성건설';
        var 진흥기업 = '진흥기업';
        var 진흥기업2우B = '진흥기업2우B';
        var 진흥기업우B = '진흥기업우B';
        var 코오롱글로벌 = '코오롱글로벌';
        var 코오롱글로벌우 = '코오롱글로벌우';
        var 태영건설 = '태영건설';
        var 태영건설우 = '태영건설우';
        var 한신공영 = '한신공영';
        var 한전KPS = '한전KPS';
        var 현대건설 = '현대건설';
        var 현대건설우 = '현대건설우';
        var 화성산업 = '화성산업';
        var 화학 = '화학';
        var DRB동일 = 'DRB동일';
        var HDC현대EP = 'HDC현대EP';
        var HD현대 = 'HD현대';
        var KCC = 'KCC';
        var KG케미칼 = 'KG케미칼';
        var KPX케미칼 = 'KPX케미칼';
        var KPX홀딩스 = 'KPX홀딩스';
        var LG생활건강 = 'LG생활건강';
        var LG생활건강우 = 'LG생활건강우';
        var LG화학 = 'LG화학';
        var LG화학우 = 'LG화학우';
        var LX하우시스 = 'LX하우시스';
        var LX하우시스우 = 'LX하우시스우';
        var NPC = 'NPC';
        var NPC우 = 'NPC우';
        var OCI = 'OCI';
        var PI첨단소재 = 'PI첨단소재';
        var S_Oil = 'S-Oil';
        var S_Oil우 = 'S-Oil우';
        var SH에너지화학 = 'SH에너지화학';
        var SKC = 'SKC';
        var SK이노베이션 = 'SK이노베이션';
        var SK이노베이션우 = 'SK이노베이션우';
        var SK케미칼 = 'SK케미칼';
        var SK케미칼우 = 'SK케미칼우';
        var TKG휴켐스 = 'TKG휴켐스';
        var WISCOM = 'WISCOM';
        var 강남제비스코 = '강남제비스코';
        var 경농 = '경농';
        var 경인양행 = '경인양행';
        var 국도화학 = '국도화학';
        var 그린케미칼 = '그린케미칼';
        var 극동유화 = '극동유화';
        var 금양 = '금양';
        var 금호석유 = '금호석유';
        var 금호석유우 = '금호석유우';
        var 금호타이어 = '금호타이어';
        var 남해화학 = '남해화학';
        var 넥센 = '넥센';
        var 넥센우 = '넥센우';
        var 넥센타이어 = '넥센타이어';
        var 넥센타이어1우B = '넥센타이어1우B';
        var 노루페인트 = '노루페인트';
        var 노루페인트우 = '노루페인트우';
        var 대원화성 = '대원화성';
        var 대한유화 = '대한유화';
        var 대한화섬 = '대한화섬';
        var 덕성 = '덕성';
        var 덕성우 = '덕성우';
        var 동남합성 = '동남합성';
        var 동방아그로 = '동방아그로';
        var 동아타이어 = '동아타이어';
        var 동원시스템즈 = '동원시스템즈';
        var 동원시스템즈우 = '동원시스템즈우';
        var 동일고무벨트 = '동일고무벨트';
        var 락앤락 = '락앤락';
        var 롯데정밀화학 = '롯데정밀화학';
        var 롯데케미칼 = '롯데케미칼';
        var 미원상사 = '미원상사';
        var 미원에스씨 = '미원에스씨';
        var 미원화학 = '미원화학';
        var 미창석유 = '미창석유';
        var 백광산업 = '백광산업';
        var 백산 = '백산';
        var 보락 = '보락';
        var 삼양패키징 = '삼양패키징';
        var 삼영화학 = '삼영화학';
        var 삼화페인트 = '삼화페인트';
        var 서흥 = '서흥';
        var 성보화학 = '성보화학';
        var 송원산업 = '송원산업';
        var 아모레G = '아모레G';
        var 아모레G3우전환 = '아모레G3우전환';
        var 아모레G우 = '아모레G우';
        var 아모레퍼시픽 = '아모레퍼시픽';
        var 아모레퍼시픽우 = '아모레퍼시픽우';
        var 애경산업 = '애경산업';
        var 애경케미칼 = '애경케미칼';
        var 에이블씨엔씨 = '에이블씨엔씨';
        var 영보화학 = '영보화학';
        var 유니드 = '유니드';
        var 율촌화학 = '율촌화학';
        var 이수화학 = '이수화학';
        var 일진다이아 = '일진다이아';
        var 잇츠한불 = '잇츠한불';
        var 제이준코스메틱 = '제이준코스메틱';
        var 조광페인트 = '조광페인트';
        var 조비 = '조비';
        var 진양산업 = '진양산업';
        var 진양폴리 = '진양폴리';
        var 진양홀딩스 = '진양홀딩스';
        var 진양화학 = '진양화학';
        var 카프로 = '카프로';
        var 코스맥스 = '코스맥스';
        var 코스모신소재 = '코스모신소재';
        var 코스모화학 = '코스모화학';
        var 코오롱인더 = '코오롱인더';
        var 코오롱인더우 = '코오롱인더우';
        var 코오롱플라스틱 = '코오롱플라스틱';
        var 태경산업 = '태경산업';
        var 태경케미컬 = '태경케미컬';
        var 태광산업 = '태광산업';
        var 테이팩스 = '테이팩스';
        var 토니모리 = '토니모리';
        var 한국쉘석유 = '한국쉘석유';
        var 한국콜마 = '한국콜마';
        var 한국타이어앤테크놀로지 = '한국타이어앤테크놀로지';
        var 한국화장품제조 = '한국화장품제조';
        var 한농화성 = '한농화성';
        var 한솔케미칼 = '한솔케미칼';
        var 한화 = '한화';
        var 한화3우B = '한화3우B';
        var 한화솔루션 = '한화솔루션';
        var 한화솔루션우 = '한화솔루션우';
        var 한화우 = '한화우';
        var 화승인더 = '화승인더';
        var 효성첨단소재 = '효성첨단소재';
        var 효성티앤씨 = '효성티앤씨';
        var 효성화학 = '효성화학';
        var 후성 = '후성';
        var 휴비스 = '휴비스';
        var 철강금속 = '철강금속';
        var DSR = 'DSR';
        var DSR제강 = 'DSR제강';
        var KG스틸 = 'KG스틸';
        var KISCO홀딩스 = 'KISCO홀딩스';
        var NI스틸 = 'NI스틸';
        var POSCO홀딩스 = 'POSCO홀딩스';
        var SHD = 'SHD';
        var SIMPAC = 'SIMPAC';
        var TCC스틸 = 'TCC스틸';
        var 고려아연 = '고려아연';
        var 고려제강 = '고려제강';
        var 금강공업 = '금강공업';
        var 금강공업우 = '금강공업우';
        var 남선알미늄 = '남선알미늄';
        var 남선알미우 = '남선알미우';
        var 대양금속 = '대양금속';
        var 대창 = '대창';
        var 대한제강 = '대한제강';
        var 대호에이엘 = '대호에이엘';
        var 동국제강 = '동국제강';
        var 동양철관 = '동양철관';
        var 동일산업 = '동일산업';
        var 동일제강 = '동일제강';
        var 디씨엠 = '디씨엠';
        var 만호제강 = '만호제강';
        var 문배철강 = '문배철강';
        var 부국철강 = '부국철강';
        var 삼아알미늄 = '삼아알미늄';
        var 서원 = '서원';
        var 세아베스틸지주 = '세아베스틸지주';
        var 세아제강 = '세아제강';
        var 세아특수강 = '세아특수강';
        var 세아홀딩스 = '세아홀딩스';
        var 아주스틸 = '아주스틸';
        var 알루코 = '알루코';
        var 영풍 = '영풍';
        var 영흥 = '영흥';
        var 이구산업 = '이구산업';
        var 조일알미늄 = '조일알미늄';
        var 포스코스틸리온 = '포스코스틸리온';
        var 풍산 = '풍산';
        var 하이스틸 = '하이스틸';
        var 한국주철관 = '한국주철관';
        var 한국철강 = '한국철강';
        var 한국특강 = '한국특강';
        var 한일철강 = '한일철강';
        var 현대비앤지스틸 = '현대비앤지스틸';
        var 현대비앤지스틸우 = '현대비앤지스틸우';
        var 현대제철 = '현대제철';
        var 화인베스틸 = '화인베스틸';
        var 황금에스티 = '황금에스티';
        var 휴스틸 = '휴스틸';
        var 미분류 = '미분류';
        var HLB글로벌 = 'HLB글로벌';
        var KTG = 'KTG';
        var 동원산업 = '동원산업';
        var 동원수산 = '동원수산';
        var 맵스리얼티1 = '맵스리얼티1';
        var 베트남개발1 = '베트남개발1';
        var 사조산업 = '사조산업';
        var 삼양통상 = '삼양통상';
        var 삼익악기 = '삼익악기';
        var 시디즈 = '시디즈';
        var 신라교역 = '신라교역';
        var 씨아이테크 = '씨아이테크';
        var 에넥스 = '에넥스';
        var 엘브이엠씨홀딩스 = '엘브이엠씨홀딩스';
        var 유니켐 = '유니켐';
        var 이월드 = '이월드';
        var 제이에스코퍼레이션 = '제이에스코퍼레이션';
        var 조광피혁 = '조광피혁';
        var 지누스 = '지누스';
        var 코아스 = '코아스';
        var 퍼시스 = '퍼시스';
        var 프레스티지바이오파마 = '프레스티지바이오파마';
        var 한국ANKOR유전 = '한국ANKOR유전';
        var 한국패러랠 = '한국패러랠';
        var 현대리바트 = '현대리바트';
        var 화승엔터프라이즈 = '화승엔터프라이즈';
        var 운수장비 = '운수장비';
        var HL만도 = 'HL만도';
        var KR모터스 = 'KR모터스';
        var SG글로벌 = 'SG글로벌';
        var SJM = 'SJM';
        var SNT모티브 = 'SNT모티브';
        var SNT중공업 = 'SNT중공업';
        var 금호에이치티 = '금호에이치티';
        var 기아 = '기아';
        var 대우부품 = '대우부품';
        var 대우조선해양 = '대우조선해양';
        var 대원강업 = '대원강업';
        var 대유에이텍 = '대유에이텍';
        var 대창단조 = '대창단조';
        var 덕양산업 = '덕양산업';
        var 동양피스톤 = '동양피스톤';
        var 동원금속 = '동원금속';
        var 두올 = '두올';
        var 디아이씨 = '디아이씨';
        var 명신산업 = '명신산업';
        var 모토닉 = '모토닉';
        var 부산주공 = '부산주공';
        var 삼성공조 = '삼성공조';
        var 삼성중공업 = '삼성중공업';
        var 삼성중공우 = '삼성중공우';
        var 삼원강재 = '삼원강재';
        var 상신브레이크 = '상신브레이크';
        var 새론오토모티브 = '새론오토모티브';
        var 서연이화 = '서연이화';
        var 세원정공 = '세원정공';
        var 세종공업 = '세종공업';
        var 세진중공업 = '세진중공업';
        var 센트랄모텍 = '센트랄모텍';
        var 쌍용차 = '쌍용차';
        var 에스엘 = '에스엘';
        var 에스엠벡셀 = '에스엠벡셀';
        var 영화금속 = '영화금속';
        var 유성기업 = '유성기업';
        var 인지컨트롤스 = '인지컨트롤스';
        var 인팩 = '인팩';
        var 일진하이솔루스 = '일진하이솔루스';
        var 지엠비코리아 = '지엠비코리아';
        var 체시스 = '체시스';
        var 케이비아이동국실업 = '케이비아이동국실업';
        var 태양금속 = '태양금속';
        var 태양금속우 = '태양금속우';
        var 태원물산 = '태원물산';
        var 평화산업 = '평화산업';
        var 평화홀딩스 = '평화홀딩스';
        var 한국조선해양 = '한국조선해양';
        var 한국프랜지 = '한국프랜지';
        var 한국항공우주 = '한국항공우주';
        var 한화에어로스페이스 = '한화에어로스페이스';
        var 핸즈코퍼레이션 = '핸즈코퍼레이션';
        var 현대로템 = '현대로템';
        var 현대모비스 = '현대모비스';
        var 현대미포조선 = '현대미포조선';
        var 현대위아 = '현대위아';
        var 현대중공업 = '현대중공업';
        var 현대차 = '현대차';
        var 현대차2우B = '현대차2우B';
        var 현대차3우B = '현대차3우B';
        var 현대차우 = '현대차우';
        var 화승알앤에이 = '화승알앤에이';
        var 화승코퍼레이션 = '화승코퍼레이션';
        var 화신 = '화신';
        var 기계 = '기계';
        var HSD엔진 = 'HSD엔진';
        var KC코트렐 = 'KC코트렐';
        var LIG넥스원 = 'LIG넥스원';
        var SNT에너지 = 'SNT에너지';
        var STX엔진 = 'STX엔진';
        var STX중공업 = 'STX중공업';
        var TYM = 'TYM';
        var 계양전기 = '계양전기';
        var 계양전기우 = '계양전기우';
        var 기신정기 = '기신정기';
        var 다스코 = '다스코';
        var 다이나믹디자인 = '다이나믹디자인';
        var 대동 = '대동';
        var 대림통상 = '대림통상';
        var 두산밥캣 = '두산밥캣';
        var 두산에너빌리티 = '두산에너빌리티';
        var 디와이파워 = '디와이파워';
        var 삼익THK = '삼익THK';
        var 삼화왕관 = '삼화왕관';
        var 세원이앤씨 = '세원이앤씨';
        var 센트럴인사이트 = '센트럴인사이트';
        var 수산중공업 = '수산중공업';
        var 씨에스윈드 = '씨에스윈드';
        var 에이프로젠 = '에이프로젠';
        var 엔케이 = '엔케이';
        var 우신시스템 = '우신시스템';
        var 우진플라임 = '우진플라임';
        var 이엔플러스 = '이엔플러스';
        var 조선선재 = '조선선재';
        var 참엔지니어링 = '참엔지니어링';
        var 큐로 = '큐로';
        var 퍼스텍 = '퍼스텍';
        var 한국주강 = '한국주강';
        var 한국카본 = '한국카본';
        var 한미반도체 = '한미반도체';
        var 한신기계 = '한신기계';
        var 한온시스템 = '한온시스템';
        var 현대건설기계 = '현대건설기계';
        var 현대두산인프라코어 = '현대두산인프라코어';
        var 현대엘리베이 = '현대엘리베이';
        var 화천기계 = '화천기계';
        var 화천기공 = '화천기공';
        var 의약품 = '의약품';
        var JW생명과학 = 'JW생명과학';
        var JW중외제약 = 'JW중외제약';
        var JW중외제약2우B = 'JW중외제약2우B';
        var JW중외제약우 = 'JW중외제약우';
        var SK바이오사이언스 = 'SK바이오사이언스';
        var 경보제약 = '경보제약';
        var 광동제약 = '광동제약';
        var 국제약품 = '국제약품';
        var 녹십자 = '녹십자';
        var 대웅 = '대웅';
        var 대웅제약 = '대웅제약';
        var 대원제약 = '대원제약';
        var 동성제약 = '동성제약';
        var 동아에스티 = '동아에스티';
        var 동화약품 = '동화약품';
        var 명문제약 = '명문제약';
        var 보령 = '보령';
        var 부광약품 = '부광약품';
        var 삼성바이오로직스 = '삼성바이오로직스';
        var 삼성제약 = '삼성제약';
        var 삼일제약 = '삼일제약';
        var 삼진제약 = '삼진제약';
        var 셀트리온 = '셀트리온';
        var 신풍제약 = '신풍제약';
        var 신풍제약우 = '신풍제약우';
        var 에이프로젠제약 = '에이프로젠제약';
        var 영진약품 = '영진약품';
        var 오리엔트바이오 = '오리엔트바이오';
        var 유나이티드제약 = '유나이티드제약';
        var 유유제약 = '유유제약';
        var 유유제약1우 = '유유제약1우';
        var 유유제약2우B = '유유제약2우B';
        var 유한양행 = '유한양행';
        var 유한양행우 = '유한양행우';
        var 이연제약 = '이연제약';
        var 일동제약 = '일동제약';
        var 일동홀딩스 = '일동홀딩스';
        var 일성신약 = '일성신약';
        var 일양약품 = '일양약품';
        var 일양약품우 = '일양약품우';
        var 제일약품 = '제일약품';
        var 종근당 = '종근당';
        var 종근당바이오 = '종근당바이오';
        var 종근당홀딩스 = '종근당홀딩스';
        var 진원생명과학 = '진원생명과학';
        var 파미셀 = '파미셀';
        var 팜젠사이언스 = '팜젠사이언스';
        var 하나제약 = '하나제약';
        var 한독 = '한독';
        var 한미약품 = '한미약품';
        var 한올바이오파마 = '한올바이오파마';
        var 현대약품 = '현대약품';
        var 환인제약 = '환인제약';
        // var No = 'No';
        var KB스타리츠 = 'KB스타리츠';
        var 비금속광물 = '비금속광물';
        var KCC글라스 = 'KCC글라스';
        var 금비 = '금비';
        var 대림BCo = '대림BCo';
        var 동양 = '동양';
        var 동양2우B = '동양2우B';
        var 동양우 = '동양우';
        var 벽산 = '벽산';
        var 부산산업 = '부산산업';
        var 삼일씨엔에스 = '삼일씨엔에스';
        var 성신양회 = '성신양회';
        var 성신양회우 = '성신양회우';
        var 쌍용CE = '쌍용CE';
        var 아세아시멘트 = '아세아시멘트';
        var 아이에스동서 = '아이에스동서';
        var 유니온 = '유니온';
        var 유니온머티리얼 = '유니온머티리얼';
        var 제일연마 = '제일연마';
        var 조선내화 = '조선내화';
        var 태경비케이 = '태경비케이';
        var 티웨이홀딩스 = '티웨이홀딩스';
        var 포스코케미칼 = '포스코케미칼';
        var 한국내화 = '한국내화';
        var 한국석유 = '한국석유';
        var 한일시멘트 = '한일시멘트';
        var 한일현대시멘트 = '한일현대시멘트';
        var 한일홀딩스 = '한일홀딩스';
        var 통신업 = '통신업';
        var KT = 'KT';
        var LG유플러스 = 'LG유플러스';
        var SK텔레콤 = 'SK텔레콤';
        var 인스코비 = '인스코비';
        var 현대퓨처넷 = '현대퓨처넷';
        var 전기가스업 = '전기가스업';
        var SGC에너지 = 'SGC에너지';
        var 경동도시가스 = '경동도시가스';
        var 대성에너지 = '대성에너지';
        var 삼천리 = '삼천리';
        var 서울가스 = '서울가스';
        var 인천도시가스 = '인천도시가스';
        var 지역난방공사 = '지역난방공사';
        var 한국가스공사 = '한국가스공사';
        var 한국전력 = '한국전력';
        var 한진중공업홀딩스 = '한진중공업홀딩스';
        var 종이목재 = '종이목재';
        var SUNL = 'SUNL';
        var 깨끗한나라 = '깨끗한나라';
        var 깨끗한나라우 = '깨끗한나라우';
        var 대영포장 = '대영포장';
        var 모나리자 = '모나리자';
        var 무림PP = '무림PP';
        var 무림페이퍼 = '무림페이퍼';
        var 삼정펄프 = '삼정펄프';
        var 세하 = '세하';
        var 신대양제지 = '신대양제지';
        var 아세아제지 = '아세아제지';
        var 영풍제지 = '영풍제지';
        var 이건산업 = '이건산업';
        var 태림포장 = '태림포장';
        var 페이퍼코리아 = '페이퍼코리아';
        var 한국수출포장 = '한국수출포장';
        var 한솔제지 = '한솔제지';
        var 한솔홈데코 = '한솔홈데코';
        var 한창제지 = '한창제지';
        var 의료정밀 = '의료정밀';
        var 덴티움 = '덴티움';
        var 디아이 = '디아이';
        var 미래산업 = '미래산업';
        var 에스디바이오센서 = '에스디바이오센서';
        var 우진 = '우진';
        var 케이씨 = '케이씨';
        var 케이씨텍 = '케이씨텍';
        var 한컴라이프케어 = '한컴라이프케어';

        var data = {{txt}};
        return data;
      }

    </script>

    <div id="container">
      <h1 style='text-align:center; color: black; font-weight: 700; margin: 30px;'>국내증시 코스피 MAP </h1>
    </div>
  </body>

{% endblock %}