.recommend-p {
  font-size: 26px;
  margin: 40px 0px 60px 0px;
  text-align: center;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: calc(100% - 100px); */
  margin: 0px 80px 0px 0px;
}

#consume_pattern {
  font-size: 20px;
  color: #6c757d;
}

.consume-title {
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}

.legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consume {
  width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommend1 span {
  font-size: 26px;
}
.recommend1 {
  font-size: 20px;
  margin-bottom: 7px;
}

.recommend1-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-size: 200px 200px;
}

#legend-div {
  margin-top: 10px;
}

#legend-div ul {
  padding: 0;
}

#legend-div button {
  width: 350px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  background: none;
}

#legend-div ul button {
  box-sizing: border-box;
  margin: 15px 0;
  color: #666;
  list-style: none;
}

#legend-div ul button span {
  display: inline-block;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
}

.table tbody tr td {
  height: 70px;
  padding-top: 22px;
}

.card-content {
  margin-bottom: 26px;
  font-size: 19px;
}

.black_header {
  box-shadow: 5px 5px 5px 5px #e9ecef;
}

.nav-item {
  font-size: 20px;
  margin-right: 30px;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.footer_grid {
  display: flex;
  justify-content: space-between;
}

.footer_item1 {
  width: 250px;
}

.footer_item2 {
  width: 280px;
}

.clock {
  font-size: 19px;
  text-align: end;
  padding: 0px 200px 10px 0px;
}
