{% extends 'base.html' %}
{% block content %}
  <div class="container" style='padding-top:50px;'>
    <h1 style='margin-bottom: 20px;'>2022.10.14 (금)</h1>
    <div class='row'>
      {% for news in news_list %}
        <div class="col">
          <div class="card border-dark mb-3" style="width:550px;">
            <div class="card-header bg-transparent">
              <div>
                <p class='card-text' style='width: 430px;'>
                  {{ news.news_title }}
                </p>
                <p class='card-text' style='font-size : 12px;'>
                  {{ news.news_src }}, {{ news.news_rep }}기자
                </p>
              </div>
              <button type="button" class="btn btn-primary btn-detail", link='{{news.news_url}}'>자세히 보기</button>
            </div>
            <div class="card-body">
              <p class='card-content'>{{ news.news_sum_1 }}</p>
              <p class='card-content'>{{ news.news_sum_2 }}</p>
              <p class='card-content'>{{ news.news_sum_3 }}</p>
            </div>
          </div>
        </div>
      {% endfor %}   
    </div>
  </div>
{% endblock %}
