{% extends 'base.html' %}
{% block content %}
  <div class="container" style='padding-top:50px;'>
    <h1 style='margin-bottom: 20px;'>2022.10.14 (금)</h1>
    <div class='row'>
      <div class="col">
        <div class="card border-dark mb-3" style="width:550px;">
          <div class="card-header bg-transparent">
            <div>
              <p class='card-text' style='width: 430px;'>
                제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목제목
              </p>
              <p class='card-text' style='font-size : 12px;'>
                글, 박하린
              </p>
            </div>
            <button type="button" class="btn btn-primary btn-detail">자세히 보기</button>
          </div>
          <div class="card-body">
            <p class='card-content'>Some quick example text to build on the card title and make up the bulk of the card's content.ome quick example text to build on the card title and make up the bulk of the card's content.ome quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class='card-content'>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      {% comment %} 2 {% endcomment %}
      <div class="col">
        <div class="card border-dark mb-3" style="width:550px; height : 300px;">
          <div class="card-header bg-transparent">
            <div>
              <p class='card-text'>
                제목
              </p>
              <p class='card-text' style='font-size : 12px;'>
                글, 박하린
              </p>
            </div>
            <button type="button" class="btn btn-primary btn-detail">자세히 보기</button>
          </div>
          <div class="card-body">
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      {% comment %} 3 {% endcomment %}
      <div class="col">
        <div class="card border-dark mb-3" style="width:550px; height : 300px;">
          <div class="card-header bg-transparent">
            <div>
              <p class='card-text'>
                제목
              </p>
              <p class='card-text' style='font-size : 12px;'>
                글, 박하린
              </p>
            </div>
            <button type="button" class="btn btn-primary btn-detail">자세히 보기</button>
          </div>
          <div class="card-body">
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      {% comment %} 4 {% endcomment %}
      <div class="col">
        <div class="card border-dark mb-3" style="width:550px; height : 300px;">
          <div class="card-header bg-transparent">
            <div>
              <p class='card-text'>
                제목
              </p>
              <p class='card-text' style='font-size : 12px;'>
                글, 박하린
              </p>
            </div>
            <button type="button" class="btn btn-primary btn-detail">자세히 보기</button>
          </div>
          <div class="card-body">
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      {% comment %} 5 {% endcomment %}
      <div class="col">
        <div class="card border-dark mb-3" style="width:550px; height : 300px;">
          <div class="card-header bg-transparent">
            <div>
              <p class='card-text'>
                제목
              </p>
              <p class='card-text' style='font-size : 12px;'>
                글, 박하린
              </p>
            </div>
            <button type="button" class="btn btn-primary btn-detail">자세히 보기</button>
          </div>
          <div class="card-body">
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      {% comment %} 6 {% endcomment %}
      <div class="col">
        <div class="card border-dark mb-3" style="width:550px; height : 300px;">
          <div class="card-header bg-transparent">
            <div>
              <p class='card-text'>
                제목
              </p>
              <p class='card-text' style='font-size : 12px;'>
                글, 박하린
              </p>
            </div>
            <button type="button" class="btn btn-primary btn-detail">자세히 보기</button>
          </div>
          <div class="card-body">
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
