{% extends 'base.html' %}
{% block content %}
  <h1>주식 검색하기 </h1>

<div class="container">
    <input type="text" name="" id="stock-search">
  <!-- <div jscontroller="Dvn7fe" class="UUbT9" style=" color: beige;" jsname="UUbT9" jsaction="mouseout:ItzDCd;mouseleave:MWfikb;hBEIVb:nUZ9le;YMFC3:VKssTb;vklu5c:k02QY;ldyIye:CmVOgc">
        <div class="RjPuVb" jsname="RjPuVb" style="display: none; width: 0px;"></div>
        <div class="aajZCb" jsname="aajZCb"><div class="xtSCL"></div>
    </div></li></div>
--> 






</div>


{% endblock %}
