{% extends 'base.html' %}
{% block content %}
  <h1>{{ user.username }} 님의 주식</h1>

  <div class='user_option'>
    <!-- 로그인 -->
    {% if user.is_authenticated %}
      <div class= container>
        <!-- tables -->
        <hr>
        <table class="table">
          <thead>
            <button class= "btn btn-outline-primary" onclick="location.href='/stock/my_stock_search' "> 주식 추가하기 </button>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Ticker</th>
                <th scope="col">Name</th>
                <th scope="col">Section</th>
             </tr>
          </thead>
          <tbody>
            {% for i in info %}
              <tr>
                <!-- <th scope="row">{{ i }}</th> -->
                <td>{{ i.s_ticker }}</td>
                <td>{{ i.s_name }}</td>
                <td>{{ i.s_kospi_section }}</td>
              </tr>
            {% endfor %}
          </tbody>
       </table>


    <!-- 로그아웃 -->
    {% else %}
      <script>
      location.href="{% url 'common:login' %}";
      </script>
    {% endif %}
  </div>
{% endblock %}
