{% load static %}
<!DOCTYPE html>
<html lang='ko'>

  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/ant.png" type="image/x-icon">

    <title>
      개미집
    </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style-custom.css' %}?{% now 'U' %}"/>


    <!--owl slider stylesheet -->
    {% comment %} <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/> {% endcomment %}
    <!-- nice select -->
    {% comment %} <link rel=" stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity=" sha512-crucp+td3yxzlvvijet8wv5wxxeh5h8p4cmz0rfbkk6flz2syl3aeskllphbnixksrddfewhbmbk5skbdsasbq==" crossorigin=" anonymous"/> {% endcomment %}
    <!-- font awesome style -->
    <link rel=" stylesheet" href="{% static 'font-awesome.min.css' %}"/>

    <!-- Custom styles for this template -->
    {% comment %} <link rel=" stylesheet" href="{% static 'style.css/?after' %}"> {% endcomment %}
    <!-- responsive style -->
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
    {% comment %} <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/50/8/intl/ko_ALL/common.js"></script> {% endcomment %}
    {% comment %} <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/50/8/intl/ko_ALL/util.js"></script> {% endcomment %}
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>

  <body class="sub_page" data-spy="scroll"Skip to content


    <!-- about section -->
    <!-- 네비게이션바 템플릿 삽입-->
    {% comment %} {% include "navbar.html" %} {% endcomment %}

    <div class="hero_area" style="margin-bottom: 10px;">
      <!-- header section strats -->
      <header class="header_section1">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'stock:index' %}">
              <span>
                Ant House
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto ">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'stock:index' %}">실시간 주식
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'stock:stock_recommend' %}">주식 추천
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'stock:my_stock' %}">내 주식
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'news:index' %}">오늘의 경제 뉴스
                  </a>
                </li>
              </ul>
              <div class='user_option'>
                  {% if user.is_authenticated %}
                    <a class="user_link" href="{% url 'common:logout' %}">{{ user.username }}
                      (Logout)</a>
                  {% else %}
                    <a class="user_link" href="{% url 'common:login' %}">Login</a>
                  {% endif %}
                  {% comment %} 회원가입 {% endcomment %}
                  {% if not user.is_authenticated %}
                    <a class="user_link" href="{% url 'common:signup' %}">Signup</a>
                  {% endif %}
              </div>
              {% comment %} <div class="user_option">
                <a href="" class="user_link">
                  <i class="fa-solid fa-user"></i>
                </a>
                <a class="cart_link" href="#">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                    <g>
                      <g>
                        <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                    c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                    C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                    c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                    C457.728,97.71,450.56,86.958,439.296,84.91z"></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                    c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"></path>
                      </g>
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </svg>
                </a>
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="" class="order_online">
                  Order Online
                </a>
              </div> {% endcomment %}
              {% comment %} <a class="navbar-brand" href="index.html">
                <span>
                  Login
                </span>
              </a>
              <a class="navbar-brand" href="index.html">
                <span>
                  Signup
                </span>
              </a> {% endcomment %}

              {% comment %} 로그인시 로그아웃 버튼, 로그아웃시 로그인 버튼 {% endcomment %}
          
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block scripts %}
    {% endblock scripts %}
    {% block content %}{% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->
    {% comment %} <section class="about_section layout_padding">
      <div class="container ">

        <div class="row">
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="images/Logo-stock.png" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  We Are Feane
                </h2>
              </div>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </section> {% endcomment %}

    <!-- end about section -->

    <!-- footer section -->
    <br>
    <footer class="footer_section" >
      <div class="container" style="margin-bottom: 100px ;" >
        <div class="row">
          <div class="col-md-4 footer-col">
            <div class="footer_contact">
              <h4>
                <img src="../static/image/ant.png"  onerror="this.src='../../static/image/ant.png'" alt="Ant" style="width: 50px; height:50px">
                <b>Ant House</b> 
                
              </h4>
              <div class="contact_link_box">
                <p href="">
                  <i class="fa fa-phone" aria-hidden="false"></i>
                  <div style='margin-left: 30px;' >
                    

                  </div>
                </p>
                <p href="">
                  <i class="fa fa-envelope" aria-hidden="false"></i>
                  <span style="margin-left: 50px;">
                    개미들을 위한 주식 서비스
                   
                  </span>
                  <span style="margin-left: 50px;">
               
                    anteater@gmail.com
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <div class="footer-info">
              <p style="margin-top: 20px;">
                <p href="https://github.com/KBAntEater/KB_Ant_Eater">All Rights Reserved By Ant Eater</p>
                <p href="https://github.com/KBAntEater/KB_Ant_Eater" target="_blank">Distributed By Ant Eater</p>
                <br>
                <br>

              </p>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <h4>
              <b>About us</b>
            </h4>
            <p>
              
            </p>
            <p>
              <img src="../static/image/instagram.png" onerror="this.src='../../static/image/instagram.png'" alt="instagram" style="width: 40px; height:40px">
              <img src="../static/image/facebook.png"  onerror="this.src='../../static/image/facebook.png'" alt="facebook" style="width: 40px; height:40px">
              <img src="../static/image/tweeter.png"  onerror="this.src='../../static/image/tweeter.png'" alt="tweeter" style="width: 40px; height:40px">
              <p >
                <br>
                <a href="https://www.instagram.com/_nuyod/"  target="_blank" style="color: black;">김도윤</a>  
              <a href="https://www.instagram.com/kakhaaaaaaaa/" target="_blank" style="color: black;">박하린</a>
              <a href="https://www.instagram.com/h.annie.j/" target="_blank" style="color: black;">이현지</a>
                <a href="https://www.instagram.com/joajoayoung/" target="_blank" style="color: black;">조하영</a>
                <br>
                <br>
                <br>
            </p>
          </div>
        </div>

      </div>
    </footer>
    <!-- footer section -->

    <!-- jQery -->
    {% comment %} <script src="js/jquery-3.4.1.min.js"></script> {% endcomment %}
    <!-- popper js -->
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> {% endcomment %}
    <!-- bootstrap js -->
    {% comment %} <script src="js/bootstrap.js"></script> {% endcomment %}
    <!-- owl slider -->
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> {% endcomment %}
    <!-- isotope js -->
    {% comment %} <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script> {% endcomment %}
    <!-- nice select -->
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script> {% endcomment %}
    <!-- custom js -->
    {% comment %} <script src="js/custom.js"></script> {% endcomment %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    
  </body>

</html>
