{% load static %}
<!DOCTYPE html>
<html lang='ko'>

  <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Site Metas -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/ant.png" type="image/x-icon">

    <title>
      개미집
    </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'style-custom.css' %}?{% now 'Ua' %}"/>
    <link rel="stylesheet" href="{% static 'responsive.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>

  <body class="sub_page" data-spy="scroll">
    <div class="hero_area" style="margin-bottom: 10px;">
      <!-- header section strats -->
      <header class="header_section1 black_header">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'stock:index' %}">
              <span>
                Ant House
              </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto ">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'stock:index' %}">실시간 주식
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'stock:stock_recommend' %}">주식 추천
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'stock:my_stock' %}">내 관심 주식
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'news:index' %}">오늘의 경제 뉴스
                  </a>
                </li>
              </ul>
              <div class='user_option'>
                {% if user.is_authenticated %}
                  <a class="user_link" href="{% url 'common:logout' %}">{{ user.username }}
                    (Logout)</a>
                {% else %}
                  <a class="user_link" href="{% url 'common:login' %}">Login</a>
                {% endif %}
                {% if not user.is_authenticated %}
                  <a class="user_link" href="{% url 'common:signup' %}">Signup</a>
                {% endif %}
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
    <!-- 기본 템플릿 안에 삽입될 내용 -->
    {% block scripts %}{% endblock scripts %}
    {% block content %}{% endblock %}
    <!-- footer section -->
    <br>
    <footer class="footer_section">
      <div class="container" style="padding-top: 100px;">
        <div class="row footer_grid">
          <div class="col-md-4 footer-col footer_item1">
            <div class="footer_contact">
              <h4>
                <img src="../static/image/ant.png" onerror="this.src='../../static/image/ant.png'" alt="Ant" style="width: 50px; height:50px">
                <b>Ant House</b>
              </h4>
              <div class="contact_link_box">
                <p href="">
                  <i class="fa fa-phone" aria-hidden="false"></i>
                  <div style='margin-left: 30px;'></div>
                </p>
                <p href="">
                  <i class="fa fa-envelope" aria-hidden="false"></i>
                  <span style="margin-left: 50px;">
                    개미들을 위한 주식 서비스
                  </span>
                  <span style="margin-left: 50px;">
                    anteater@gmail.com
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col footer_item2">
            <div class="footer-info">
              <p style="margin-top: 20px;">
                <p href="https://github.com/KBAntEater/KB_Ant_Eater">All Rights Reserved By Ant Eater</p>
                <p href="https://github.com/KBAntEater/KB_Ant_Eater" target="_blank">Distributed By Ant Eater</p>
                <br>
                <br>
              </p>
            </div>
          </div>
          <div class="col-md-4 footer-col footer_item1">
            <h4>
              <b>About us</b>
            </h4>
            <p></p>
            <p>
              <img src="../static/image/instagram.png" onerror="this.src='../../static/image/instagram.png'" alt="instagram" style="width: 40px; height:40px">
              <img src="../static/image/facebook.png" onerror="this.src='../../static/image/facebook.png'" alt="facebook" style="width: 40px; height:40px">
              <img src="../static/image/tweeter.png" onerror="this.src='../../static/image/tweeter.png'" alt="tweeter" style="width: 40px; height:40px">
              <p>
                <br>
                <a href="https://www.instagram.com/_nuyod/" target="_blank" style="color: black;">김도윤</a>
                <a href="https://www.instagram.com/kakhaaaaaaaa/" target="_blank" style="color: black;">박하린</a>
                <a href="https://www.instagram.com/h.annie.j/" target="_blank" style="color: black;">이현지</a>
                <a href="https://www.instagram.com/joajoayoung/" target="_blank" style="color: black;">조하영</a>
                <br>
                <br>
                <br>
              </p>
            </div>
          </div>

        </div>
      </footer>
      <!-- footer section -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

    </body>

  </html>
